<!DOCTYPE html>
<html>
  <head>
    <title>DemoHelperApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <a href="/show_article_url_helpers">see article helpers</a>
  </body>
</html>
