<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landmark.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @landmark.year %>
</p>

<%= link_to 'Edit', edit_landmark_path(@landmark) %> |
<%= link_to 'Back', landmarks_path %>
